name: Release iOS SDK

on:
  push:
    tags:
      - 'ios-v*.*.*'

jobs:
  release:
    name: Build and Publish iOS SDK
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from Git tag
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          VERSION="${TAG#ios-v}"
          echo "RELEASE_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Validate code version is less than tag version
        run: |
          CODE_VERSION=$(grep "s.version" ios-sdk/FlagshipFeatureFlags/FlagshipFeatureFlags.podspec | head -1 | sed "s/.*'\(.*\)'/\1/")
          IFS='.' read -ra CODE <<< "$CODE_VERSION"
          IFS='.' read -ra REL <<< "$RELEASE_VERSION"
          for i in 0 1 2; do
            [[ ${CODE[$i]:-0} -lt ${REL[$i]:-0} ]] && exit 0
            [[ ${CODE[$i]:-0} -gt ${REL[$i]:-0} ]] && { echo "Code version ($CODE_VERSION) must be < tag version ($RELEASE_VERSION)"; exit 1; }
          done
          echo "Code version ($CODE_VERSION) must be < tag version ($RELEASE_VERSION)"; exit 1

      - name: Update podspec version and source tag
        run: |
          cd ios-sdk/FlagshipFeatureFlags
          sed -i '' "s/s.version *= *'[0-9]*\.[0-9]*\.[0-9]*'/s.version          = '$RELEASE_VERSION'/" FlagshipFeatureFlags.podspec
          sed -i '' "s/:tag => s.version.to_s/:tag => \"ios-v#{s.version}\"/" FlagshipFeatureFlags.podspec

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Setup CocoaPods trunk authentication
        run: |
          cat <<EOF > ~/.netrc
          machine trunk.cocoapods.org
            login ${{ secrets.COCOAPODS_TRUNK_EMAIL }}
            password ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          EOF
          chmod 600 ~/.netrc

      - name: Lint podspec
        run: |
          cd ios-sdk/FlagshipFeatureFlags
          pod lib lint FlagshipFeatureFlags.podspec --allow-warnings

      - name: Push to CocoaPods trunk
        run: |
          cd ios-sdk/FlagshipFeatureFlags
          pod trunk push FlagshipFeatureFlags.podspec --allow-warnings

      - name: Bump version to next patch
        run: |
          chmod +x scripts/bump-version.sh
          ./scripts/bump-version.sh ios "$RELEASE_VERSION"

